:host{
  background-color: var(--dark-color);
  border-radius: 2px;
  user-select: none;


}

.list-wrapper{
  height: 78px;
  padding: 16px 20px;
  border-bottom: var(--light-border);
}

.tt-form-input{
  user-select: none;
  padding-right: 30px;
}

.cross-btn{
  display: flex;
  align-self: end;
  position: absolute;
  transform: translate(-10px, 16px);
}

.active{
  background-color: var(--hovered-dark-color);
}

.messages-wrapper{
  overflow-y: scroll;
}
