<div class="main-wrapper" #mainWrapper>
  <div class="message-wrapper" #messageWrapper>


    @for (message of message(); track message.id) {
      <app-chat-workspace-message
        (contextmenu)="onRightClick(message, $event)"
        [message]="message"
      />
    }



    <div #popupMessageId
         class="popup-message"
    >
      <app-popup-message
        popupDirective
        (appClickOutside)="popupMessage.set(false)"
        [style.display]="popupMessage() ? 'flex' : 'none'"
        (messageChange)="onPopupMessage($event)"
      />
    </div>


  </div>
</div>


<div #inputMessage>
  <app-message-input
    (created)="sendMessage($event)"
  />
</div>




