:host{
  display: grid;
  grid-template-rows: 1fr min-content;
  grid-gap: 16px;
  padding: 16px 20px;
}


.message-wrapper{
  height: min-content;
  overflow-y: scroll;
  display: grid;
  grid-gap: 8px;
  position: relative;
}

.main-wrapper{
  overflow-y: scroll;
}

.popup-message{
  overflow: visible;
  z-index: 1;
  position: absolute;
}

.date-info{
  background-color: var(--hovered-dark-color);
  padding: 6px 22px;
  width: min-content;
  justify-self: center;
}

.date-info__text{
  font-size: 14px;
}
