:host{
  display: grid;
  grid-template-rows: 1fr min-content;
  grid-gap: 16px;
  padding: 16px 20px;
}


.message-wrapper{
  height: min-content;
  overflow-y: scroll;
  display: grid;
  grid-gap: 8px;
}

.main-wrapper{
  overflow-y: scroll;
}

.popup-for-message{
  display: flex;
  flex-direction: column;
  width: 100px;
  border-radius: 10px;
  background-color: var(--hovered-dark-color);
  gap: 2px;
  padding: 6px;
}

.pop_btn{
  display: flex;
  gap: 6px;
  align-items: center;
  padding: 8px 10px;
  background-color: var(--hovered-dark-color);
  &:hover{
    opacity: 0.4;
  }
}
