:host{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
  height: 100%;
  position: fixed;
  background-color: var(--dark-color);
  padding: 20px 0 20px 0;
  gap: 20px;
}

.wrapper-main{
  color: var(--light-color);
  //padding: 20px 28px;
  gap: 30px;
  display: flex;
  flex-direction: column;
  -webkit-user-select: none;
}

.small-logo{
  width: 61px;
  height: 74px;
  margin: 0 28px;
}


.pages{
  padding: 0 12px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.page{
  border: none;
  display: flex;
  gap: 12px;
  padding: 8px 16px;
  align-items: center;
  cursor: pointer;
  border-radius: 2px;
  color: var(--light-color);
  text-decoration: none;

  &:hover{
    //color: var(--primary-color);
    background-color: var(--hovered-dark-color);
  }
}

.page__active{
  color: var(--primary-color);
  background-color: var(--hovered-dark-color);
}

.page__label{
  width: 700px;
  font-size: 14px;
  line-height: 24px;
}

.page-chat__count-chats{
  border: none;
  background-color: var(--primary-color);
  color: var(--dark-color);
  //display: flex;
  padding: 1px 6px;
  font-size: 12px;
  line-height: 16px;
  font-weight: 700;
}

.subscribers{
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 0 28px;
}

.subscribers__title{
  color: var(--light-gray);
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}

.profile__img{
  height: 32px;
  width: 32px;
  border-radius: 50%;
}

.profile__name{
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
}

.subscribers__title__purple{
  color: var(--primary-color);
  display: flex;
  gap: 16px;
  align-items: center;
  cursor: pointer;
}

.user-sec{
  border-radius: 2px;
  display: grid;
  grid-template-columns: 32px 1fr 14px;
  margin: 0 12px;
  grid-gap: 12px;
  align-items: center;
  cursor: pointer;
  padding: 4px 16px;
  justify-items: start;
  width: calc(100% - 24px);

  &:hover{
    //color: var(--primary-color);
    background-color: var(--hovered-dark-color);
    .settings-btn{
      color: var(--primary-color);
    }
  }
}



.sidebar__popup-btn{
  border-radius: 2px;
  border: 2px solid var(--light-color);
  margin: 21px;
  padding: 16px 12px;
  position: absolute;
  bottom: 73px;
  width: 258px;
  background-color: var(--dark-color);
}
