@if (chat(); as chat) {
  <img class="prof-img" src="{{chat.userFrom.avatarUrl | imgUrl}}">
  <div class="btn-wrapper">
    <div class="btn-header">
      <span class="medium-text">
        {{ chat.userFrom.firstName }} {{ chat.userFrom.lastName }}
      </span>
      <span class="medium-text time">
      {{ chat.createdAt | timeAgo: 'message' }}
      </span>
    </div>


    <div class="btn-main" appTruncateText #textBlock>
      <span class="medium-text">
        {{ chat.message | truncateText: Number(textBlock.getAttribute('data-max-width')) }}
      </span>
      @if (chat.unreadMessages > 0) {
        <span class="count-chats">
        {{ chat.unreadMessages }}
      </span>
      }
    </div>
  </div>
}
