:host {
  cursor: pointer;
}

.btn-wrapper {
  height: 48px;
  display: grid;
  grid-template-columns: 32px 1fr;
  grid-gap: 12px;
  align-items: center;
  margin-top: -6px;
  margin-bottom: -6px;
  cursor: pointer;
}

.profile__name{
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
}
