:host {
  height: 48px;
  display: grid;
  grid-template-columns: 32px 1fr;
  grid-gap: 12px;
  align-items: center;
  margin-top: -6px;
  margin-bottom: -6px;
}

//.subscribers-profiles__profile{
//  height: 48px;
//  display: grid;
//  grid-template-columns: 32px 1fr;
//  grid-gap: 12px;
//  align-items: center;
//}

.profile__img{
  height: 32px;
  width: 32px;
  border-radius: 50%;
}

.profile__name{
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
}
